/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: url('../images/cinema1.webp') center no-repeat;
    background-size: cover;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

/*---------------------- Home box*/
.custom-box {
    max-width: 750px;
    height: 480px;
    background-color: #706f6f80;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

/* add transiction on the boxes*/

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
}

.custom-box.hide {
    display: none;
}

.start-btn {
    text-align: center;
}


.home-box h1 {
    font-size: 33px;
    letter-spacing: 4px;
    padding-bottom: 10px;
}

.home-box h2 {
    font-size: 19px;
    padding-bottom: 20px;
}

.home-box h3 {
    font-size: 18px;
}

.home-box>p {
    font-size: 16px;
}

.home-box h1,
.home-box h2,
.home-box h3,
.home-box>p {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
    text-align: center;
    padding-top: 30px;
}

#luck {
    font-weight: bold;
    font-size: 20px;
    color: #fcfcfc;
    margin-top: 40px;
    margin-bottom: 20px;
}

.home-box .btn {
    margin-top: 10px;
    background-color: rgb(207, 68, 68);
    font-size: 18px;
    letter-spacing: 2px;
}

.btn {
    padding: 15px 45px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}